@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --defaultPadding: 2.5rem 4rem;
  --success: #8bb7a2;
  --secondaryColor: #b1b1b3;
  --dark: #1e1e1e;
  --agentPara: #5b5d60;
}
body {
  max-width: 1600px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------- Navbar style ------------ */
.header {
  height: 100vh;
  background-color: #636c79;
}

/* ------ Navbar ------- */
nav {
  padding: var(--defaultPadding);
  display: flex;
  align-items: center;
}

.brand {
  flex-grow: 1;
}

.brand > img {
  height: 40px;
  filter: invert(100%);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item {
  margin: 0 5px;
}

.list-item-link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.list-item-link:hover {
  text-decoration: underline;
}

.ml-90 {
  margin-left: 90px;
}

.btn {
  padding: 17px 45px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline {
  border: 2px solid #9099a7;
  color: #ffffff;
  background-color: transparent;
}

/* ------ Home ------- */

#home {
  padding: var(--defaultPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home > .group-img {
  background: url(../images/group-meeting.jpg) no-repeat center;
  border-radius: 8px;
  background-size: cover;
  height: 532px;
  width: 895px;
}

.home-details {
  margin-left: 190px;
}
.home-details > h1 {
  font-size: 70px;
  color: #ffffff;
}
.home-details > p {
  font-size: 19px;
  color: var(--secondaryColor);
  padding: 37px 200px 20px 0;
}

.emailbar {
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
  display: inline-block;
}

.emailbar > input {
  padding: 10px 17px;
  font-size: 15px;
  width: 16rem;
  font-weight: 500;
  border: none;
  outline: none;
}

.btn-content {
  background-color: var(--success);
  color: #ffffff;
  border: none;
}
/* ------------------------------- */
/* -------------- Body --------------- */
.body {
  background-color: #fbfbfb;
}

/* -------------- About ------------- */
#about {
  padding: var(--defaultPadding);
  margin: 40px 0;
}
#about > h1 {
  text-align: center;
  font-size: 40px;
  color: var(--dark);
}
/* ------------------------------ */
/* ----------- Pages ------------ */

#pages {
  padding: var(--defaultPadding);
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-del {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-num {
  font-family: "Mukta", sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.proj-desc {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--secondaryColor);
}

.page-img {
  margin: 30px 0;
}

.page-img > img {
  width: 100%;
}
/* ------------------------------- */
/* ------------ Agent ------------- */

#agent {
  padding: var(--defaultPadding);
}

.agent-heading {
  text-align: center;
  font-size: 40px;
  color: var(--dark);
}

.agent-main {
  margin: 60px 0;
}

.agent-box {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 130px 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.agent-content {
  width: 50%;
}

.agent-content > h1 {
  font-size: 50px;
}

.agent-content > p {
  font-size: 16px;
  font-weight: 600;
  color: var(--agentPara);
  margin: 30px 0;
}

.agent-img-1 {
  background: url(../images/agent-1.jpg) no-repeat right;
  height: 420px;
  width: 420px;
  background-size: cover;
}

.agent-img-2 {
  background: url(../images/agent-2.jpg) no-repeat;
  height: 460px;
  width: 420px;
  background-size: cover;
}
.agent-img-3 {
  background: url(../images/agent-3.jpg) no-repeat center;
  height: 460px;
  width: 420px;
  background-size: cover;
}

/* ------------------------------------- */
/* ---------- Blog ------------- */

#blog {
  padding: var(--defaultPadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#blog > h1 {
  font-size: 55px;
}
#blog > p {
  font-size: 18px;
  font-weight: 600;
  color: var(--agentPara);
}

/* ------------------------------------ */
/* ------------- Subcribe --------------- */

#subcribe {
  padding: var(--defaultPadding);
}

.subcribe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.subcribe-box {
  width: 400px;
}

.subcribe-del {
  margin-top: 20px;
}

.subcribe-del > h1 {
  font-size: 25px;
  color: var(--dark);
}

.subcribe-del > p {
  font-size: 15px;
  margin: 20px 0;
  font-weight: 600;
  color: var(--agentPara);
}

.subcriber-img-1 {
  background: url(../images/subcribe-1.jpg) no-repeat;
  height: 425px;
  width: 340px;
  background-size: cover;
}
.subcriber-img-2 {
  background: url(../images/subcribe-2.jpg) no-repeat;
  height: 425px;
  width: 340px;
  background-size: cover;
}
.subcriber-img-3 {
  background: url(../images/subcribe-3.jpg) no-repeat;
  height: 425px;
  width: 340px;
  background-size: cover;
}

.btn-sec {
  text-align: center;
  margin: 50px;
}
/* ----------------------------------- */
